<!DOCTYPE html>
<%#include "weapon.h" %>
<% tfetch(QVariantMap, weapon); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Weapon</h1>

<%== formTag(urla("save", weapon["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="weapon[id]" value="<%= weapon["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Space<br /><input type="text" name="weapon[space]" value="<%= weapon["space"] %>" /></label>
  </p>
  <p>
    <label>Attack<br /><input type="text" name="weapon[attack]" value="<%= weapon["attack"] %>" /></label>
  </p>
  <p>
    <label>Name<br /><input type="text" name="weapon[name]" value="<%= weapon["name"] %>" /></label>
  </p>
  <p>
    <label>Equipped<br /><input type="text" name="weapon[equipped]" value="<%= weapon["equipped"] %>" /></label>
  </p>
  <p>
    <label>Main<br /><input type="text" name="weapon[main]" value="<%= weapon["main"] %>" /></label>
  </p>
  <p>
    <label>Url<br /><input type="text" name="weapon[url]" value="<%= weapon["url"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>

<%== linkTo("Show", urla("show", weapon["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
