

<% tfetch(int, dice); %>
<% tfetch(int, updated_player_space); %>
<% tfetch(int, xp); %>
<% tfetch(int, hp); %>
<% tfetch(int, attack); %>
<% tfetch(QString, alignment); %>


    <tr>


      <td class="pika"> <img src="https://files.gamebanana.com/img/ico/sprays/pokemon_running_side_animated.gif" alt="" /> </td>
      <td class="chmr"> <img src="" alt="" /> </td>

    </tr>
    <tr>
      <td colspan=2 class='cnsl'><div class="status"> <span></span> <br>
          <a href="#">Player entering space <%=updated_player_space%></a><br>
          <a href="#"> XP: <%=xp%> HP: <%=hp%> Attack:<%=attack%> Alignment:<%=alignment%></a><br>

          <a href="http://localhost:8800/Game/loop">> Explore</a><br>
          <a href="http://localhost:8800/Game/dice_roll">> Continue</a> <br>
          <a href="http://localhost:8800/Game/weapon_menu">> Change Primary Weapon</a> <br>
          


        </div></td>
    </tr>
