<!DOCTYPE html>
<%#include "monster.h" %>
<% tfetch(QVariantMap, monster); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Monster</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Space<br /><input name="monster[space]" value="<%= monster["space"] %>" /></label>
  </p>
  <p>
    <label>Hp<br /><input name="monster[hp]" value="<%= monster["hp"] %>" /></label>
  </p>
  <p>
    <label>Attack<br /><input name="monster[attack]" value="<%= monster["attack"] %>" /></label>
  </p>
  <p>
    <label>Name<br /><input name="monster[name]" value="<%= monster["name"] %>" /></label>
  </p>
  <p>
    <label>Battle<br /><input name="monster[battle]" value="<%= monster["battle"] %>" /></label>
  </p>
  <p>
    <label>Url<br /><input name="monster[url]" value="<%= monster["url"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
