<!DOCTYPE html>
<%#include "monster.h" %>
<% tfetch(Monster, monster); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Monster</h1>
<dt>ID</dt><dd><%= monster.id() %></dd><br />
<dt>Space</dt><dd><%= monster.space() %></dd><br />
<dt>Hp</dt><dd><%= monster.hp() %></dd><br />
<dt>Attack</dt><dd><%= monster.attack() %></dd><br />
<dt>Name</dt><dd><%= monster.name() %></dd><br />
<dt>Battle</dt><dd><%= monster.battle() %></dd><br />
<dt>Url</dt><dd><%= monster.url() %></dd><br />
<dt>Created at</dt><dd><%= monster.createdAt() %></dd><br />
<dt>Updated at</dt><dd><%= monster.updatedAt() %></dd><br />
<dt>Lock Revision</dt><dd><%= monster.lockRevision() %></dd><br />

<%== linkTo("Edit", urla("save", monster.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
